@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181414;
  color: #FFFFFF;
  font-family: var(--font-karla), system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mabry), sans-serif;
}

.font-circular {
  font-family: var(--font-circular), sans-serif;
}